<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block title %}All Quizzes{% endblock %}
    {% block content %}
    <h1>All Quizzes</h1>
    <ul class="quiz">
    {% for q in quizzes %}
        <li>
            <div class="quiz-item">
                <a href="{{ url_for('take_quiz', slug=q.slug) }}">{{ q.title }}</a> - {{ q.description }}
                <div class="quiz-actions">
                    <a href="{{ url_for('manage_questions', quiz_id=q.id) }}" class="btn-manage">Manage Questions</a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
    {% endblock %}

</body>
</html>